@charset "UTF-8";

@media screen and (max-width: 768px) {
    .corpo form {
        flex-direction: column;
        row-gap: 20px;
    }


    .corpo form input[type="text"] {
        margin-bottom: 10px;
        width: 95%;
    }

    .corpo form input[type="submit"] {
        margin-left: 10px;
        width: 95%;
    }
}